<%= form_for @paste, :html => {:class => 'form-inline'} do |f| %>
<% if @paste.errors.any? %>
<% @paste.errors.full_messages.each do |msg| %>
	<div class="alert alert-danger"><b><%= msg %></b>
		<a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>	
	</div>
<% end %>
<% end %>
  <div class="field">
    <% if @paste.errors[:title].any? %>
    <div class="has-error">
    <% end %>
      <%= f.text_field :title, :placeholder => 'Your paste', :class => 'form-control input-lg' %>
    <% if @paste.errors[:title].any? %>
    </div>
    <% end %>
  </div>
<hr>
<div class="field">
  <% if @paste.errors[:content].any? %>
  <div class="has-error">
  <% end %>
    <%= f.text_area :content, :placeholder => 'Paste your code here ...', :class => 'form-control', rows: 6 %>
  <% if @paste.errors[:content].any? %>
  </div>
  <% end %>
</div>
<hr>
<div class="row">
  <div class="col-sm-3 col-md-4">
    <%= select("paste", "language", Pygments.lexers.collect { |l, k| Pygments.lexers[l][:name] }, {include_blank: 'Auto'}, class: 'form-control') %>
  </div>
  <div class="pull-right rightpad15">
    <div class='visible-xs toppad20'></div>
    <%= f.submit 'Save paste', :class => 'btn btn-success btn-lg' %>
  </div>
</div>
<% end %>
