      <div>
        <div class="pull-left title">
          <h3 id="paste-title"><%= @paste.title %></h3>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to "Raw", paste_path(@paste, format: :text), :class => "btn btn-default", :method => :get %>
            <%= link_to "Json", paste_path(@paste, format: :json), :class => "btn btn-default", :method => :get %>
          </div>
          <div class="btn-group">
            <% if user_signed_in? && @paste.user_id == current_user.id %>
              <%= link_to( edit_paste_path(@paste), :class => "btn btn-default" ) do %>
              <span class="glyphicon glyphicon-edit"></span> Edit
              <% end %>
              <%= link_to( @paste, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" ) do %>
              <span class="glyphicon glyphicon-remove"></span> Delete
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <hr>
      <div class="field well code-font code-table-wrapper">
        <table>
            <col width="5%">
            <col width="95%">
            <tr>
              <td class='lines'>
                <% @paste.content.lines.count.times do |line| %>
<span><%= line + 1 %></span>
                <% end %>
              </td>
              <td class='code'>
                <%= @paste.formatted %>
              </td>
            </tr>
        </table>
      </div>
      <hr>
