<%= inside_layout 'application' do %>
<div class="container">
	<div class="panel-default col-md-8">
		<div class="panel-body">
      <% if notice != nil %>
        <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% if alert != nil %> 
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
	</div>
	<div class="col-md-4">
    <%= render 'latest' %>
	</div>
</div>
<% end %>
